
body{
    background-color:#F2EFEB;
}
h1{
    display:flex;
    margin:auto;
    justify-content: center;
}

h2{
    display:flex;
    margin:auto;
    justify-content: center;
}
h3{
    display:flex;
    justify-content: center;
    margin:auto;
}
p{
    font-size: 22px;
}
li{
    font-size: 22px;
}

.profile-pic{
    display:flex;
    justify-content: center;
    margin:auto;
}

.profile-pic img{
    margin-top:50px;
    border-radius: 50%;
    width: 15%;
    height:15%;
}

.profile-para{
    display:flex;
    margin:auto;
    text-align: center;
    width:80%;

}
.strengths-label{
    display:flex;
    margin:auto;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.strengths{
    display:flex;
    margin:auto;
    justify-content: center;
}
.interests-label{
    display:flex;
    margin:auto;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.interests{
    display:flex;
    margin:auto;
    justify-content: center;
}

.projects{
    justify-content: center;
    margin:auto;
    width:80%;
    text-align: center;

}

